.frame-menu {
    padding-left: 5px;
    font-weight: bold
}

#tbSel{
    font-family: Helvetica, "Helvetica Neue", Arial, "微软雅黑", Tahoma, "宋体", sans-serif;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    color: #6853ff;
}