<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yermoon.dao.MybatisDao">
    <resultMap id="dbsrcMap" type="DbSrcEntity">
        <result property="id" column="id"/>
        <result property="dbType" column="dbtype"/>
        <result property="jdbcUrl" column="jdbcurl"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="insertDbsrc" parameterType="DbSrcEntity">
        insert into mybatis_db(dbtype,jdbcurl,username,password) values (
        #{dbType},#{jdbcUrl},#{userName},#{password}
        )
    </insert>
    <select id="findAll" resultMap="dbsrcMap">
        select * from mybatis_db
    </select>
    <delete id="deleteById" parameterType="int">
        delete from  mybatis_db where id =#{id}
    </delete>
    <select id="findById" parameterType="int" resultMap="dbsrcMap">
        select *  from  mybatis_db where id =#{id}
    </select>
</mapper>